#wrapper{

    width:750px;
    margin:10px auto;
    background: #f1f1f1;
    padding:20px;
}

.chat-wrapper{
    width: 70%;
    margin:10px auto;
    background: #ffffff;

}

#chat{
    min-height: 500px;
    height:500px;
    border: 1px solid #b3b3b3;
    padding: 10px;
    overflow:auto;
}

.textarea{
    width:100%;
    border: 1px solid #b3b3b3;
    outline:none;
    padding:10px;
    height: 100px;

    margin-top:10px;
}
